body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(1, 1, 31);
}

canvas {
    border: 1px solid black;
    background-color: black;
}

#game-info, #high-scores {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}