<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snake scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Snake scores</h1>
    <div id="controls">
        <button onclick="window.location.href='/'">Back to Game</button>
    </div>
    <table>
        <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Time alive</th>
        </tr>
        {% for score in scores %}
            <tr>
                <td>{{ score.user_id }}</td>
                <td>{{ score.highscore }}</td>
                <td>{{ score.time_alive }}s</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>